
//
// VARIABLES
//

// Colors
$blue: #4183C4; 
$green:rgba(0,113,13, 0.5)  ;
$darkgreen:rgba(0,113,13, 0.7) ;
$whiteo:rgba(255,255,255, 0.5);
$pink: #f1a0c4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$montserrat: "Montserrat", sans-serif;
$raleway: "Raleway", sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}